
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #7ED6DF;
$dark-blue: #30336B;
$red: #EB4D4B;
$green: #6AB04C;
$light-green: #BADC58;

.background-blue{
  background-color: $blue;
}

.background-dark-blue{
 background-color: $dark-blue;
}

.background-red{
  background-color: $red;
}
.background-green{
  background-color: $green;
}

.background-light-green{
  background-color: $light-green;
}


$smartPhoneWidth: 1085px;
$smartPhone: "only screen and (max-width: " + $smartPhoneWidth + ")";
$smartPhonePortrait: "only screen and (max-width: " + $smartPhoneWidth + ") and (orientation : portrait)";
$smartPhoneLandscape: "only screen and (max-width: " + $smartPhoneWidth + ") and (orientation : landscape)";
