// Materialize
@import '~materialize-css/sass/materialize.scss';

html, body, #app {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  min-height: 100%;
}

h1, h2, h3, h4, h5, p, a {
  font-weight: bold;
}

.uppercase{
  text-transform: uppercase;
}